<div class="col-xs-6 col-sm-6 col-md-3 col-mobile tour-img">
  <%= booking.id %>
    <div class="text-detail">
    <h5><b><%= booking.name %></b></h5>
    <p><%= booking.phone %>
      <%= booking.status %>
    </p>
  </div>
</div>
