<tr>
  <td><%= category_counter + page_cate + 1 %></td>
  <td><%= t "nav.#{category.name}" %></td>
  <td>
    <%= link_to t(".delete"), admin_category_path(category.id), method: :delete, data: { confirm: t("are_you_sure") } %>
    <%= link_to t(".edit"), edit_admin_category_path(category.id) %>
  </td>
</tr>
